@import 'variables';

.mod_calendar {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  background: rgba(0,0,0,.6);
  border-radius: 5px;
  .minicalendar {
    width: 70%;
    padding: 10px;
    font-size: 15px;
    .days {
      border-radius: 2px;
      padding: 4px 0;
      box-sizing: border-box;
      line-height: 1em;
      text-align: center;
      a {
        padding: 2px 3px;
        border-radius: 2px;
      }
      &.today {
        border: 1px solid white;
      }
      &.active a {
        color: $middle-orange;
      }
      &.selected {
        background: #ff7d00;
        a {
          color: white;
        }
      }
    }
    thead > tr:first-child th {
      border-bottom: 1px solid rgba(255,255,255,.4);
    }
    thead > tr:nth-child(2) th {
      font-weight: normal;
      color: $middle-green;
      text-transform: uppercase;
    }
    .head.current {
      text-transform: uppercase;
    }
  }
  > a {
    align-self: center;
    font-family: 'Weimar', sans-serif;
    color: white;
    font-size: 30px;
    &.transparent {
      color: transparent;
      cursor: initial;
    }
  }
}

.mod_eventlist {
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  overflow: visible;
  > h2:first-child {
    display: none;
  }
  .event.layout_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    margin: 7px 0;
    background: $dark-orange;
    border-radius: 3px;
    box-shadow: 0 0 20px #232323;
    .time {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      box-sizing: border-box;
      padding-top: 10px;
      padding-left: 13px;
      font-size: 17px;
      border-radius: 3px;
      box-shadow: 3px 0 13px #252525;
      width: 80px;
      justify-content: space-around;
      margin: 0;
      background: $events-brighter;
      .daymonth {
        font-weight: bold;
      }
      > span {
        width: 100%;
        line-height: 1.2em;
      }
    }
    h2 {
      margin: 10px 0 0px;
      font-size: 18px;
      text-transform: uppercase;
      height: 18px;
    }
    .event-right {
      width: 70%;
      p {
        margin: 5px 0 0;
      }
    }
  }
}

.ce_accordion.event-filter {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: $dark-orange;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
  .toggler {
    padding: 4px 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    &:after {
      position: absolute;
      top: 4px;
      right: 9px;
      content: "g";
      font-family: "Weimar",sans-serif;
      text-transform: none;
      font-size: 21px;
      transition: transform 250ms;
    }
    &.active:after {
      transform: rotate(180deg);
    }
  }
  .accordion {
    padding: 5px 10px;
    h3 {
      margin: 0;
      border-top: 1px solid;
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
    }
    .radio-buttons {
      > div {
        margin-bottom: 20px;
      }
      .filter-item {
        label {
          cursor: pointer;
        }
        input {
          display: none;
        }
        span {
          position: relative;
          width: 18px;
          height: 18px;
          display: inline-block;
          border-radius: 100%;
          border: 2px solid;
          box-sizing: border-box;
          margin-right: 5px;
          transform: translateY(3px);
          &:before {
            position: absolute;
            content: "";
            top: 2px;
            left: 2px;
            width: 11px;
            height: 11px;
            background: #fff;
            border-radius: 100%;
            opacity: 0;
            transition: opacity 150ms;
          }
        }
        input:checked + span:before {
          opacity: 1;
        }
      }
    }
  }
}
