@import 'variables';

.mod_changePassword {
  form {
    .widget {
      margin: 10px 0;
      label {
        display: inline-block;
        width: 400px;
      }
      input {
        display: inline-block;
        width: 370px;
        border: none;
        border-radius: 3px;
        padding: 10px 12px;
        font-family: 'Barlow Semi Condensed', sans-serif;
      }
      button {
        float: right;
        margin: 10px 0;
        padding: 8px 10px;
        border: none;
        border-radius: 3px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: white;
        background: $dark-orange;
        font-size: 17px;
        cursor: pointer;
        transition: background-color 250ms;
        &:hover {
          background-color: $bright-orange;
        }
      }
    }
  }
}