@import 'variables';


.ce_metamodels_frontendediting {
  > h2:first-child {
    display: none;
  }
  form .formbody_edit fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    legend {
      display: none;
    }
    .widget {
      margin: 20px 0;
    }
    .widget-text:not(.prop-int_name) {
      display: flex;
      justify-content: space-between;
      label {
        width: 40%;
        margin-top: 5px;
      }
      input {
        width: 60%;
        padding: 4px 7px;
        box-sizing: border-box;
        font-family: 'Barlow Semi Condensed', sans-serif;
        border: 1px solid #555;
        transition: border-color 250ms;
        &:hover {
          border-color: #0e0e0e;
        }
      }
      &.datepicker {
        display: block;
        label {
          display: block;
          width: 100%;
          font-size: 17px;
        }
        input {
          width: 100%;
        }
      }
      &.prop-open_mon_to,&.prop-open_tue_to,&.prop-open_wed_to,&.prop-open_thu_to,&.prop-open_fri_to,&.prop-open_sat_to,&.prop-open_sun_to {
        width: 45%;
        float: right;
        margin: 8px 0;
      }
      &.prop-open_mon_from,&.prop-open_tue_from,&.prop-open_wed_from,&.prop-open_thu_from,&.prop-open_fri_from,&.prop-open_sat_from,&.prop-open_sun_from {
        width: 45%;
        float: left;
        margin: 8px 0;
      }
    }
    .widget-upload {
      ul {
        margin: 15px 0;
        padding: 0;
        list-style: none;
        img {
          width: 200px;
        }
      }
    }
  }
  .widget-textarea {
    label {
      display: block;
      width: 100%;
    }
    textarea {
      display: block;
      width: 100%;
      padding: 4px 7px;
      box-sizing: border-box;
      margin: 10px 0;
      font-family: 'Barlow Semi Condensed', serif;
      border: 1px solid #555;
    }
  }
  .formbody_submit button {
    font-family: 'Barlow Semi Condensed', serif;
    border: none;
    background: $middle-orange;
    color: white;
    border-radius: 0;
    padding: 8px 11px;
    transition: background-color 250ms;
    cursor: pointer;
    &:hover {
      background-color: $bright-orange;
    }
  }
}

.widget.prop-int_name {
  display: none;
}