@import 'variables';

.edit-window {
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
  background-color: #e9e9e9;
  border-radius: 5px;
  h1 {
    text-align: center;
  }
}

.ce_metamodels_frontendediting {
  > h2:first-child {
    display: none;
  }
  form .formbody_edit fieldset {
    min-width: 0;
    border: none;
    legend {
      display: none;
    }
    .widget {
      margin: 20px 0;
    }
    .widget-text:not(.prop-int_name) {
      display: flex;
      justify-content: space-between;
      label {
        width: 40%;
      }
      input {
        width: 60%;
        padding: 4px 7px;
        box-sizing: border-box;
        font-family: 'Merriweather', serif;
        border: 1px solid #555;
        cursor: pointer;
        transition: border-color 250ms;
        &:hover {
          border-color: #0e0e0e;
        }
      }
    }
    .widget-textarea {
      label {
        display: block;
        width: 100%;
      }
      textarea {
        display: block;
        width: 100%;
        padding: 4px 7px;
        box-sizing: border-box;
        margin: 10px 0;
        font-family: 'Merriweather', serif;
      }
    }
  }
  .formbody_submit button {
    font-family: 'Merriweather', serif;
    border: none;
    background: black;
    color: white;
    border-radius: 0;
    padding: 8px 11px;
    transition: background-color 250ms;
    &:hover {
      background-color: #555;
    }
  }
}

.widget.prop-int_name {
  display: none;
}