@import 'variables';

#mm_store,#mm_restaurant,#mm_doctor {
  .link-back {
    margin-top: 10px;
    width: 48%;
    display: inline-block;
    a {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 10px 35px;
      font-size: 15px;
      background: $bright-green;
      border-radius: 3px;
      text-transform: uppercase;
      box-sizing: border-box;
      line-height: 1em;
      &:before {
        position: absolute;
        text-transform: none;
        content: 'd';
        font-family: 'Weimar', sans-serif;
        top: 10px;
        left: 12px;
      }
    }
  }
}

#mm_store {
  .prop-type {
    display: none;
  }
}

.edit-window .ce_metamodels_frontendediting {
  form .formbody_edit .widget {
    margin: 10px 0;
    padding-bottom: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid;
    }
    label {
      text-transform: uppercase;
      font-size: 15px;
      width: 300px;
      display: block;
      margin: 5px 0;
    }
    input,textarea,select {
      display: block;
      width: 100%;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      padding: 8px 10px;
      font-size: 15px;
      margin: 5px 0;
      outline: none;
      font-family: 'Barlow Semi Condensed', sans-serif;
    }
    &.widget-upload {
      .tl_tbox {
        .dropzone {
          min-height: initial;
          border: none;
          border-radius: 3px;
          background: #8aa69e;
          padding: 10px 12px;
          width: 50%;
          line-height: 1em;
          .dz-message {
            margin: 0;
            text-align: left;
            span {
              color: white;
              text-transform: uppercase;
              font-size: 15px;
            }
          }
          .dz-remove {
            color: red;
          }
        }
      }
      .file-name {
        display: none;
      }
      .file-reset {
        label {
          width: 50%;
          padding: 10px 12px;
          background: #8aa69e;
          line-height: 1em;
          border-radius: 3px;
          box-sizing: border-box;
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
    }
    &.widget-checkbox {
      span {
        display: block;
        width: 100%;
        input {
          display: inline;
          width: 20px;
        }
        label {
          display: inline;
        }
      }
    }
    &.widget-checkbox,&.widget-radio {
      legend {
        text-transform: uppercase;
        font-size: 15px;
        width: 100%;
        display: block;
        margin: 5px 0;
      }
    }
    &.datepicker,&.prop-street,&.prop-street_number,&.prop-zip,&.prop-city {
      display: inline-block;
      width: 49.3%;
      margin: 0;
      border-bottom: none;
    }
    &.datepicker {
      input {
        display: none;
      }
    }
    &.prop-tags,&.prop-assortment,&.prop-extras,&.prop-category,&.prop-type {
      label {
        padding-left: 25px;
        background: url('../layout/unselected.svg') no-repeat 0 5px/6%;
        text-transform: none;
      }
    }
    &.prop-assortment {
      display: none;
    }
    #ctrl_tags,#ctrl_assortment,#ctrl_extras,#ctrl_category,#ctrl_type {
      display: none;
    }
  }
  .submit_container button,.link-to-jobs a,.detail-link a,.detail-link-top a {
    display: inline-block;
    background-color: $bright-green;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    color: white;
    text-transform: uppercase;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 15px;
    line-height: 1em;
    box-sizing: border-box;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: #B3C6C0FF;
    }
  }
  .detail-link {
    display: inline-block;
    width: 49.3%;
  }
  .detail-link-top {
    width: 99%;
  }
  .link-to-jobs {
    margin: 15px 0;
    a {
      width: 100%;
      background-color: $brighter-green;
    }
  }
  .formbody_submit {
    display: inline-block;
    width: 49.3%;
    button {
      width: 100%;
    }
  }
  .welcome-message {
    font-size: 15px;
    font-weight: bold;
    color: $bright-green;
    text-transform: uppercase;
    p {
      margin-bottom: 10px;
      margin-top: 0;
      padding-bottom: 7px;
      border-bottom: 1px solid white;
    }
  }
}

