@import 'variables';

.edit-window {
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.1);
  h1 {
    text-align: center;
  }
}

.ce_metamodels_frontendediting {
  > h2:first-child {
    display: none;
  }
  form .formbody_edit fieldset {
    min-width: 0;
    border: none;
    legend {
      display: none;
    }
    .widget {
      margin: 20px 0;
    }
    .widget-text:not(.prop-int_name) {
      display: flex;
      justify-content: space-between;
      label {
        width: 40%;
        margin-top: 5px;
      }
      input {
        width: 60%;
        padding: 4px 7px;
        box-sizing: border-box;
        font-family: 'Barlow Semi Condensed', sans-serif;
        border: 1px solid #555;
        transition: border-color 250ms;
        &:hover {
          border-color: #0e0e0e;
        }
      }
      &.datepicker {
        display: block;
        label {
          display: block;
          width: 100%;
        }
        input {
          width: 100%;
        }
      }
      &.prop-open_mon_to,&.prop-open_tue_to,&.prop-open_wed_to,&.prop-open_thu_to,&.prop-open_fri_to,&.prop-open_sat_to,&.prop-open_sun_to, {
        label {
          display: none;
        }
        input {
          position: relative;
          &:before {
            content: '-';
            position: absolute;
            top: -20px;
            left: 0;
          }
        }
      }
    }
    .widget-textarea {
      label {
        display: block;
        width: 100%;
      }
      textarea {
        display: block;
        width: 100%;
        padding: 4px 7px;
        box-sizing: border-box;
        margin: 10px 0;
        font-family: 'Barlow Semi Condensed', serif;
        border: 1px solid #555;
      }
    }
    .widget-upload {
      ul {
        margin: 15px 0;
        padding: 0;
        list-style: none;
        img {
          width: 200px;
        }
      }
    }
  }
  .formbody_submit button {
    margin: 15px;
    font-family: 'Barlow Semi Condensed', serif;
    border: none;
    background: $middle-orange;
    color: white;
    border-radius: 0;
    padding: 8px 11px;
    transition: background-color 250ms;
    cursor: pointer;
    &:hover {
      background-color: $bright-orange;
    }
  }
}

.widget.prop-int_name {
  display: none;
}