@import 'variables';

#footer {
  margin-top: auto;
  width: 100%;
  background: white;
  .inside {
    .ce_text {
      text-align: center;
      p:first-child {
        color: $middle-green;
        font-size: 10px;
        text-transform: uppercase;
      }
      div.logo-placeholder-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
        .logo-placeholder {
          color: white;
          font-size: 15px;
          background-color: $middle-green;
          width: 65px;
          height: 65px;
        }
      }
      img {
        width: 50px;
      }
    }
  }
}