@import 'variables';
@import 'menu';
@import 'header';
@import 'main';
@import 'accordion';
@import 'footer';
@import 'login';
@import 'fee';
@import 'overview';
@import 'store-list';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  color: white;
  font-size: 19px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  #wrapper {
    min-height: 100vh;
    background-image: linear-gradient(200deg, rgb(196,201,184), rgb(20,97,110) 70%);
  }
}