@import 'variables';

@font-face {
  font-family: "Weimar";
  src: url("https://weimar.app/files/assets/fonts/weimar.woff?hglndo") format('woff');
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  color: white;
  font-size: 19px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  #wrapper {
    min-height: 100vh;
    background-image: linear-gradient(200deg, rgb(196,201,184), rgb(20,97,110) 70%);
  }
}

a {
  color: white;
  text-decoration: none;
  font-variant-caps: small-caps;
  transition: color 250ms;
  &:hover {
    color: $middle-orange;
  }
}

.link-secondary a {
  width: 100%;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 250ms;
  &:hover {
    background-color: rgba(255,255,255,0.4);
  }
}


.mod_article {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.1);
  h1 {
    text-align: center;
    line-height: 1.1em;
    letter-spacing: 1.2px;
  }
}

.icon-font {
  font-family: 'Weimar', sans-serif;
  font-size: 22px;
}

@media screen and (min-width: $desktop) {
  .mod_article {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@import 'menu';
@import 'header';
@import 'main';
@import 'accordion';
@import 'footer';
@import 'login';
@import 'fee';
@import 'overview';
@import 'store-list';
@import 'homepage';
