@import 'variables';

@font-face {
  font-family: "Weimar";
  src: url("../fonts/weimar.woff?hglndo") format('woff'), url("../fonts/weimar.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  color: white;
  font-size: 19px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

#wrapper {
  width: 100%;
}

#container #main .inside {
  float: right;
}

.mod_article {
  width: 100%;
  overflow: visible;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main .mod_article.first > .ce_image:first-child {
  position: fixed;
  top: 0;
  z-index: -100;
  background: rgba(0,0,0,0.5);
  img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
}

.headline {
  margin: 0 20px;
  h1 {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1em;
  }
  p {
    margin: 0;
    font-size: 15px;
    line-height: 1.1em;
  }
}

.headline + div, .headline + section,.standard-width {
  width: 90%;
  max-width: 400px;
  margin: 20px auto 0;
}

a {
  text-decoration: none;
  color: white;
}

.icon-font {
  font-family: 'Weimar', sans-serif;
  font-size: 22px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.map {
  height: 400px;
  width: 100%;
}

.no-items-found {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: $desktop) {
  .mod_article {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@import 'menu';
@import 'header';
@import 'main';
@import 'accordion';
@import 'footer';
@import 'overview';
@import 'item-list';
@import 'homepage';
@import 'news';
@import 'calendar';
@import 'job';
@import 'offers';
@import 'map';
@import 'detail';
@import 'tabcontrol';
