@import 'variables';

@font-face {
  font-family: "Weimar";
  src: url("../fonts/weimar.woff?hglndo") format('woff'), url("../fonts/weimar.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  color: white;
  font-size: 19px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

#wrapper {
  width: 100%;
}

#container #main .inside {
  float: right;
}

.mod_article {
  width: 100%;
  overflow: visible;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main .mod_article.first > .ce_image:first-child {
  position: fixed;
  top: 0;
  z-index: -100;
  background: rgba(0,0,0,0.5);
  img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
}

.headline {
  margin: 0 20px;
  h1 {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1em;
  }
  p {
    margin: 0;
    font-size: 15px;
    line-height: 1.1em;
  }
}

.headline + div, .headline + section,.standard-width {
  width: 90%;
  max-width: 400px;
  margin: 20px auto 0;
}

a {
  text-decoration: none;
  color: white;
}

.arrow-right-after span.icon-font {
  position: relative;
  top: 3px;
}

.icon-font {
  font-family: 'Weimar', sans-serif;
  font-size: 22px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.map {
  height: 400px;
  width: 100%;
}

.no-items-found {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

a,div {
  outline: none;
}


.link-logout {
  margin-top: 10px;
  display: inline;
  a {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 10px 35px;
    font-size: 15px;
    background: #8aa69e;
    border-radius: 3px;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1em;
    &:before {
      position: absolute;
      text-transform: none;
      content: 'J';
      font-family: 'Weimar', sans-serif;
      top: 10px;
      left: 12px;
    }
  }
}


.link-back a {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  &:before {
    content: 'd';
    position: absolute;
    font-family: 'Weimar', sans-serif;
    left: 0;
    top: -5px;
    text-transform: none;
    font-size: 20px;
  }
}

body.high-contrast {
  color: black;
  background-color: rgba(0,0,0,.05);
  a,
  .ce_text p,
  .search .widget-submit button,
  .shop-list-filter .accordion .submit_container input,
  .store-detail-tags,
  .job-filter-accordion .accordion .submit_container input,
  .add-job .widget-text label,
  .add-job .widget-textarea label,
  .job-filter-accordion .widget-text label,
  .job-filter-accordion .widget-textarea label,
  .add-job #save, .job-filter-accordion #save,
  .mod_calendar .minicalendar .days.active a,
  .mod_calendar .minicalendar thead > tr:nth-child(2) th,
  .mod_eventreader .event h1 {
    color: black;
  }
  .ol-overlaycontainer-stopevent > div button,
  .homepage-links .link-icon,
  .link-text,.top-news .caroufredsel_skin,
  .mod_newscategories ul li,
  .mod_newslist .layout_latest,
  .mod_newslist .layout_latest .info,
  .item .item-inner .item-info,
  .item .item-inner .item-info:after,
  .item .special_offers,
  .ce_tabcontrol .tabcontrol_tabs ul li,
  .ce_tabcontrol .tabcontrol_panes,
  .store-detail-offer,
  .bottom-links > div,
  .all-offers .store-offer,
  .mod_calendar,
  .mod_calendar .minicalendar .days.selected,
  .ce_accordion.event-filter,
  .mod_eventlist .event.layout_list,
  .mod_eventlist .event.layout_list .time,
  .login-window .widget-submit button, .login-window .link-secondary p a {
    color: black;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: none;
  }
  .logo img {
    filter: brightness(0%);
  }
  .contrast-button {
    filter: brightness(0%);
  }
  #main {
    .mod_article.first > .ce_image:first-child {
      display: none;
    }
  }
  .shop-list-filter {
    background-color: #e6e6e6;
    border: 1px solid;
  }
  .ce_tabcontrol .tabcontrol_tabs ul li.selected {
    border-bottom: none;
  }
  .ce_tabcontrol .tabcontrol_panes {
    border-top: none;
  }
  .offer-accordion,.add-job,.job-filter-accordion,.job-list .job {
    background-color: #e6e6e6;
    border: 1px solid;
  }
  .add-job .widget-text input, .add-job .widget-text textarea, .add-job .widget-textarea input, .add-job .widget-textarea textarea, .job-filter-accordion .widget-text input, .job-filter-accordion .widget-text textarea, .job-filter-accordion .widget-textarea input, .job-filter-accordion .widget-textarea textarea {
    background: white;
    box-sizing: border-box;
    color: black;
  }
  .mod_calendar .minicalendar .days.active a {
    text-decoration: underline;
  }
  .mobile_menu .inner {
    background: #e6e6e6;
  }
  #footer {
    background-color: rgba(0,0,0,.05);
    .inside .ce_text {
      p:first-child {
        color: black;
      }
      div.logo-placeholder-wrapper .logo-placeholder {
        background-color: black;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .mod_article {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@import 'menu';
@import 'header';
@import 'main';
@import 'accordion';
@import 'footer';
@import 'overview';
@import 'item-list';
@import 'homepage';
@import 'news';
@import 'calendar';
@import 'job';
@import 'offers';
@import 'map';
@import 'detail';
@import 'tabcontrol';
@import 'login';
@import 'overview';
@import 'fee';
@import 'search';
@import 'events';