@import 'variables';

#header {
  margin-bottom: 10px;
  .inside {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .logo {
      width: 120px;
      margin-top: 40px;
    }
  }
}

.header-left {
  margin-right: 3px;
}

.header-right {
  margin-top: 35px;
  border-bottom: 1px solid;
  width: 100%;
  position: relative;
  transform: translateY(-10px);
}

.header-right-inner {
  width: 90px;
  display: flex;
  justify-content: space-between;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 0;
  transform: translateX(-7px);
}

.contrast-button a {
  cursor: pointer;
  img {
    max-width: initial;
    width: 22px;
    transform: translateY(3px);
  }
}

.header-right-bottom {
  float: right;
}

.search .ce_form {
  .widget-text {
    display: none;
  }
  .widget-submit button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
}




