@import 'variables';

#homepage-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
    a {
      width: 100%;
      height: 100%;
      text-align: center;
      display: inline-block;
      padding-top: 20px;
      box-sizing: border-box;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background-color: rgba(255,255,255,0.4);
    }
  }
}

@media screen and (min-width: $tablet) {
  #homepage-links p {
    width: 45%;
  }
}