@import 'variables';


.mobile_menu_trigger {
  padding: 0 20px;
  cursor: pointer;
  span.icon-font {
    float: right;
    margin-top: 5px;
    font-size: 40px;
  }
}

.homepage-links {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 60px;
  .link a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 8px 0;
  }
}

#main .mod_customnav {
  width: 90%;
  max-width: 400px;
  margin: 25px auto;
  border-top: 1px solid;
  ul {
    width: 266px;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    li a:not(.last) {
      border-right: 1px solid;
      padding-right: 6px;
    }
  }
}

.link-icon {
  width: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 83%;
  border-radius: 3px;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  span {
    display: block;
    width: 100%;
    line-height: 1em;
  }
  &:after {
    content: 'C';
    font-family: 'Weimar', sans-serif;
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 22px;
  }
}

.link-text-top {
  text-transform: uppercase;
  font-weight: bold;
}

.link-news .link-icon, .link-news .link-text {
  background-color: $dark-green;
}

.link-map .link-icon, .link-map .link-text {
  background-color: $middle-green;
}

.link-shopping .link-icon, .link-shopping .link-text {
  background-color: $bright-green;
}

.link-offers .link-icon, .link-offers .link-text {
  background-color: $brighter-green;
}

.link-jobs .link-icon, .link-jobs .link-text {
  background-color: $bright-orange;
}

.link-food .link-icon, .link-food .link-text {
  background-color: $middle-orange;
}

.link-events .link-icon, .link-events .link-text {
  background-color: $dark-orange;
}
