@import 'variables';

.login-headline {
  text-align: center;
}

.login-window {
  form .formbody .widget {
    label {
      text-transform: uppercase;
      font-size: 15px;
      width: 100%;
      display: block;
      margin: 5px 0;
    }
    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      padding: 8px 10px;
      font-size: 15px;
      margin: 5px 0;
      outline: none;
    }
  }
  .widget-submit button, .link-secondary p a {
    background-color: $bright-green;
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    color: white;
    text-transform: uppercase;
    font-family: Barlow Semi Condensed, sans-serif;
    font-weight: 500;
    width: 50%;
    text-align: left;
    font-size: 15px;
    line-height: 1em;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: #B3C6C0FF;
    }
  }
  .link-secondary {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
}