@import 'variables';

.login-headline {
  text-align: center;
}

.login-window {
  position: fixed;
  top: 42%;
  left: 50%;
  width: 95%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-50%) translateX(-50%);
  background-color: #e9e9e9;
  border-radius: 5px;
  form .formbody .widget {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    label {
      width: 30%;
      padding: 0;
      margin: 0;
      border: none;
    }
    input {
      width: 60%;
      margin: 0;
      padding: 4px 7px;
      box-sizing: border-box;
      font-family: 'Merriweather', serif;
      border: 1px solid #555;
      cursor: pointer;
      transition: border-color 250ms;
      &:hover {
        border-color: #0e0e0e;
      }
    }
  }
  .widget-submit button {
    font-family: 'Merriweather', serif;
    border: none;
    background: black;
    color: white;
    border-radius: 0;
    padding: 8px 11px;
    transition: background-color 250ms;
    &:hover {
      background-color: #555;
    }
  }
}