@import 'variables';

.ol-attribution {
  display: none;
}

.ol-overlaycontainer-stopevent {
  padding-top: 6px;
  > div {
    margin-left: 10px;
    button {
      background: #22394b;
      border: none;
      border-radius: 3px;
      padding: 4px 7px;
      color: white;
      margin-right: 4px;
    }
  }
}