@import 'variables';

.mobile_menu_trigger {
  display: none !important;
}

.menu-close {
  color: white;
  position: absolute;
  top: 43px;
  right: 30px;
  font-size: 70px;
  transition: text-shadow 250ms;
  -webkit-transition: text-shadow 250ms;
  -moz-transition: text-shadow 250ms;
  -o-transition: text-shadow 250ms;
  &:hover {
    text-shadow: 0 0 5px;
  }
}

.mobile_menu .inner {
  background: $darker-green;
  .homepage-links {
    padding-top: 20px;
  }
  .logo {
    width: 90%;
    max-width: 400px;
    margin: 45px auto 0;
    figure {
      width: 150px;
    }
  }
}