@import 'variables';

.top-news {
  .caroufredsel_skin {
    position: relative;
    background: $dark-green;
    border-radius: 3px;
    box-shadow: 0 0 20px #1f1f1f;
    .caroufredsel_controls {
      position: absolute;
      width: 95%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      .caroufredsel_navi {
        display: flex;
        justify-content: space-between;
      }
    }
    .caroufredsel_wrapper {
      height: 80px !important;
    }
    .caroufredsel {
      top: 50% !important;
      transform: translateY(-50%);
      padding: 0 35px;
      h2 {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.2em;
        transform: translateY(-2px);
      }
    }
  }
}

.layout_caroufredsel_ticker {
  width: 300px;
}

.caroufredsel_navi {
  a {
    font-family: 'Weimar', sans-serif;
  }
}

.mod_newslist {
  width: 90%;
  max-width: 400px;
  margin: 9px auto;
  overflow: visible;
  .layout_latest {
    margin: 7px 0;
    display: flex;
    height: 70px;
    background: $dark-green;
    border-radius: 3px;
    box-shadow: 0 0 20px #1f1f1f;
    .info {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      border-radius: 3px;
      box-shadow: 3px 0 13px #252525;
      width: 80px;
      text-align: center;
      margin: 0;
      background-color: $news-brighter;
      padding-top: 13px;
      > span {
        font-size: 16px;
        width: 100%;
        line-height: 1.2em;
        font-weight: bold;
      }
    }
    h2 {
      align-self: start;
      width: 70%;
      margin: 0;
      padding: 13px;
      font-size: 16px;
      line-height: 1.2em;
      font-weight: normal;
      text-transform: uppercase;
    }
    .more {
      margin: 0 10px;
      align-self: center;
      font-family: 'Weimar', sans-serif;
    }
  }
}

.mod_newsreader {
  .layout_full {
    background: $dark-green;
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 3px;
    h1 {
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
    }
    .info {
      margin: 0;
    }
  }
  a {
    text-decoration: underline;
  }
  .link-back {
    font-size: 15px;
  }
}

.mod_newscategories {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: space-between;
    a {
      width: 49%;
    }
    li {
      position: relative;
      padding-left: 25px;
      box-sizing: border-box;
      border-radius: 3px;
      background: $dark-green;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      &:before {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 1px;
        left: 5px;
        font-family: 'Weimar', sans-serif;
        text-transform: none;
      }
      &:first-child:before {
        content: 'n';
      }
      &:last-child:before {
        content: 'a';
      }
      &.active {
        width: 49%;
        background-color: $news-brighter;
      }
    }
  }
  .reset {
    text-align: right;
    font-size: 13px;
    &.active {
      opacity: 0;
      line-height: .7em;
    }
  }
}