@import 'variables';

.overview-window {
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: rgba(0,0,0,0.1);
  padding: 12px 18px;
  box-sizing: border-box;
  .overview-field.int_name {
    display: none;
  }
}

.overview-field {
  margin: 12px 0;
  .label {
    font-weight: bold;
  }
}

.actions a {
  display: inline-block;
  margin: 22px 0;
  color: white;
  background-color: $middle-orange;
  text-decoration: none;
  padding: 8px 11px;
  box-sizing: border-box;
  transition: background-color 250ms;
  &:hover {
    background-color: $bright-orange;
  }
}