@import 'variables';


.overview-field.int_name {
  display: none;
}

.overview-field {
  margin: 30px 0;
  .label {
    font-weight: bold;
  }
}

.opening-hours td {
  padding: 0 10px 0 0;
}

.actions a {
  display: inline-block;
  margin: 22px 0;
  color: white;
  background-color: $middle-orange;
  text-decoration: none;
  padding: 8px 11px;
  box-sizing: border-box;
  transition: background-color 250ms;
  &:hover {
    background-color: $bright-orange;
  }
}