@import 'variables';

.mod_search {
  > div {
    margin: 20px 0;
    background: $bright-green;
    border-radius: 3px;
    padding: 12px 17px;
    box-sizing: border-box;
    h3 {
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      .relevance {
        display: none;
      }
    }
    p {
      font-size: 15px;
    }
    .url {
      display: none;
    }
  }
  .widget-text {
    input {
      width: 100%;
      border-radius: 3px;
      border: none;
      padding: 8px 10px;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 15px;
    }
  }
  .widget-submit {
    margin: 10px 0;
    button {
      position: relative;
      padding: 10px 40px;
      border: none;
      border-radius: 3px;
      background-color: $bright-green;
      color: white;
      font-family: 'Barlow Semi Condensed', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      text-align: left;
      cursor: pointer;
      &:before {
        content: 'j';
        position: absolute;
        font-family: 'Weimar', sans-serif;
        left: 10px;
        top: 7px;
        font-size: 20px;
        text-transform: none;
      }
    }
  }
}