@import 'variables';

.sponsor-page {
  z-index: 2;
  .inside {
    max-width: 834px;
    margin: 0 auto;
  }
}

.sponsor-close {
  position: absolute;
  right: 20px;
  top: 20px;
  a {
    color: white;
    text-decoration: none;
    font-size: 40px;
  }
}