@import 'variables';

.store-list-window {
  width: 95%;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e9e9e9;
  border-radius: 5px;
  h1 {
    text-align: center;
  }
}

.store {
  margin: 20px 0;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  .name {
    margin: 12px 0;
    padding: 8px 0;
    border-bottom: 1px solid;
    .value span {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .assortment {
    margin-top: -15px;
    .value {
      text-align: right;
      span {
        font-size: 12px;
      }
    }
  }
  .desc {
    margin: 20px 0;
    padding-left: 15px;
    border-left: 4px solid;
  }
  .address,.website,div[class*='open_'] {
    display: none;
  }
}