@import 'variables';


.store {
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  box-sizing: border-box;
  .name {
    margin: 12px 0;
    padding: 8px 0;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: bold;
  }
  .assortment {
    margin-top: -15px;
    text-align: right;
    font-size: 12px;
  }
  .desc {
    margin: 20px 0;
    padding-left: 15px;
    border-left: 4px solid;
  }
  .special_offers {
    font-variant-caps: all-small-caps;
    background-color: $dark-orange;
    font-weight: bold;
    padding: 10px 14px;
    text-align: center;
  }
  .photo {
    position: relative;
    text-align: center;
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid;
    }
    .open-sign {
      position: absolute;
      font-size: 90px;
      right: -20px;
      bottom: 10px;
    }
  }
  .address {
    margin: 25px 0;
  }
}

@media screen and (min-width: $desktop) {
  .store {
    margin: 20px 0 120px;
    .store-photo {
      margin: -20px -20px 0 -20px;
      border-bottom: 5px solid;
      .photo {
        width: 100%;
        margin-bottom: -6px;
        img {
          width: 100%;
          height: 200px;
          border-radius: initial;
          border: none;
        }
      }
    }
  }
}