@import 'variables';

.ce_tabcontrol {
  margin: 20px 0;
  .tabcontrol_tabs ul {
    display: flex;
    li {
      width: 50%;
      padding: 5px 12px;
      background: #b0c7c1;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 15px;
      box-shadow: inset 2px -2px 7px -2px black;
      &:first-child {
        box-shadow: inset -2px -2px 7px -2px black;
      }
      &.selected {
        background: #8aa69e;
        box-shadow: none;
      }
    }
  }
  .tabcontrol_panes {
    padding: 0 15px;
    background: #8aa69e;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}