$content-width: 1000px;
$small-width: 700px;
$tablet: 697px;
$desktop: 1025px;

$darker-green: rgb(0,20,36);
$dark-green: rgb(10,59,74);
$middle-green: rgb(20,97,110);
$bright-green: rgb(138,166,158);
$brighter-green: rgb(196,201,184);
$brighter-orange: rgb(230,215,190);
$bright-orange: rgb(255,181,105);
$middle-orange: rgb(255,125,0);
$dark-orange: rgb(189,84,8);
$darker-orange: rgb(120,41,15);